/****** Object:  Database [PropertyLeasingDB]    Script Date: 6/3/2026 11:27:03 PM ******/
CREATE DATABASE [PropertyLeasingDB]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_1', MAXSIZE = 10 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/3/2026 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Amenity]    Script Date: 6/3/2026 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amenity](
	[AmenityID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AmenityID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Document]    Script Date: 6/3/2026 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document](
	[DocumentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[ApplicationID] [int] NULL,
	[FileName] [nvarchar](200) NOT NULL,
	[FileType] [nvarchar](50) NULL,
	[StoragePath] [nvarchar](500) NULL,
	[UploadedAt] [datetime] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[RejectionReason] [nvarchar](500) NULL,
	[FileContent] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 6/3/2026 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[UnitID] [int] NOT NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](500) NULL,
	[IsVisible] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lease]    Script Date: 6/3/2026 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lease](
	[LeaseID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationID] [int] NOT NULL,
	[LeaseStartDate] [datetime] NOT NULL,
	[LeaseEndDate] [datetime] NOT NULL,
	[MonthlyRent] [decimal](10, 2) NOT NULL,
	[SecurityDeposit] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[PaymentPlanType] [nvarchar](20) NULL,
	[RenewLeaseApplicationID] [int] NULL,
	[TerminationID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LeaseID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaseApplication]    Script Date: 6/3/2026 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaseApplication](
	[ApplicationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[UnitID] [int] NOT NULL,
	[RequestedStartDate] [datetime] NULL,
	[RequestedEndDate] [datetime] NULL,
	[Notes] [nvarchar](500) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ParentLeaseID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicationID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaseApplicationLog]    Script Date: 6/3/2026 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaseApplicationLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationID] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ChangedByUserID] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_LeaseApplicationLog] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaseLog]    Script Date: 6/3/2026 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaseLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[LeaseID] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ChangedByUserID] [int] NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_LeaseLog] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaseRefund]    Script Date: 6/3/2026 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaseRefund](
	[RefundId] [int] IDENTITY(1,1) NOT NULL,
	[LeaseID] [int] NOT NULL,
	[MonthsConsumed] [int] NOT NULL,
	[MonthsRefunded] [int] NOT NULL,
	[TotalPaid] [decimal](10, 2) NOT NULL,
	[OverdueDeducted] [decimal](10, 2) NOT NULL,
	[RefundAmount] [decimal](10, 2) NOT NULL,
	[CancelledAt] [datetime] NOT NULL,
	[Notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[RefundId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[LeaseID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 6/3/2026 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Action] [nvarchar](100) NULL,
	[Details] [nvarchar](500) NULL,
	[LogLevel] [nvarchar](20) NULL,
	[Source] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceRequest]    Script Date: 6/3/2026 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceRequest](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[UnitID] [int] NOT NULL,
	[TenantUserID] [int] NOT NULL,
	[AssignedStaffID] [int] NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[RequestType] [nvarchar](50) NULL,
	[Priority] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[TicketNumber] [nvarchar](20) NULL,
	[SubmittedAt] [datetime] NOT NULL,
	[ResolvedAt] [datetime] NULL,
	[ResolutionNotes] [nvarchar](500) NULL,
	[ImagePath] [nvarchar](300) NULL,
	[ResolutionImagePath] [nvarchar](300) NULL,
	[ScheduledDate] [datetime] NULL,
	[CancellationReason] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TicketNumber] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceRequestLog]    Script Date: 6/3/2026 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceRequestLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[RequestID] [int] NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[Details] [nvarchar](500) NULL,
	[PerformedByUserID] [int] NULL,
	[PerformedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceStaff]    Script Date: 6/3/2026 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceStaff](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SkillProfile] [nvarchar](200) NULL,
	[AvailabilityStatus] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MaintenanceStaff] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceStatusHistory]    Script Date: 6/3/2026 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceStatusHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[RequestID] [int] NOT NULL,
	[OldStatus] [nvarchar](50) NULL,
	[NewStatus] [nvarchar](50) NOT NULL,
	[Notes] [nvarchar](250) NULL,
	[ChangedAt] [datetime] NOT NULL,
	[ChangedByUserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 6/3/2026 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[NotificationType] [nvarchar](50) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetCode]    Script Date: 6/3/2026 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetCode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[Code] [nvarchar](6) NOT NULL,
	[ExpiresAt] [datetime] NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_PasswordResetCode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentRecord]    Script Date: 6/3/2026 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentRecord](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[LeaseID] [int] NOT NULL,
	[AmountDue] [decimal](10, 2) NOT NULL,
	[AmountPaid] [decimal](10, 2) NULL,
	[DueDate] [datetime] NOT NULL,
	[PaidDate] [datetime] NULL,
	[PaymentStatus] [nvarchar](50) NOT NULL,
	[Notes] [nvarchar](250) NULL,
	[LateFee] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Property]    Script Date: 6/3/2026 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Property](
	[PropertyID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[Address] [nvarchar](200) NOT NULL,
	[City] [nvarchar](50) NULL,
	[PropertyType] [nvarchar](50) NULL,
	[ImgPath] [nvarchar](100) NULL,
	[GracePeriodDays] [int] NOT NULL,
	[LateFeePercent] [decimal](5, 2) NOT NULL,
	[TotalSizeSqm] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[PropertyID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyAmenities]    Script Date: 6/3/2026 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyAmenities](
	[PropertyID] [int] NOT NULL,
	[AmenityID] [int] NOT NULL,
 CONSTRAINT [PK_PropertyAmenities] PRIMARY KEY CLUSTERED 
(
	[PropertyID] ASC,
	[AmenityID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyImage]    Script Date: 6/3/2026 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PropertyID] [int] NOT NULL,
	[ImagePath] [nvarchar](300) NOT NULL,
	[SortOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Termination]    Script Date: 6/3/2026 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Termination](
	[TerminationId] [int] IDENTITY(1,1) NOT NULL,
	[TerminationDate] [datetime] NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Termination] PRIMARY KEY CLUSTERED 
(
	[TerminationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 6/3/2026 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[UnitID] [int] IDENTITY(1,1) NOT NULL,
	[PropertyID] [int] NOT NULL,
	[UnitNumber] [nvarchar](50) NOT NULL,
	[UnitType] [nvarchar](50) NULL,
	[Sizesqm] [float] NULL,
	[MonthlyRent] [decimal](10, 2) NULL,
	[AvailabilityStatus] [nvarchar](50) NULL,
	[ImgPath] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitAmenities]    Script Date: 6/3/2026 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitAmenities](
	[UnitID] [int] NOT NULL,
	[AmenityID] [int] NOT NULL,
 CONSTRAINT [PK_UnitAmenities] PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC,
	[AmenityID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitImage]    Script Date: 6/3/2026 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UnitID] [int] NOT NULL,
	[ImagePath] [nvarchar](300) NOT NULL,
	[SortOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 6/3/2026 11:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Role] [nvarchar](50) NOT NULL,
	[IdentityUserId] [nvarchar](450) NULL,
	[Username] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Amenity_Name]    Script Date: 6/3/2026 11:27:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Amenity_Name] ON [dbo].[Amenity]
(
	[Name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lease_RenewLeaseApplicationID]    Script Date: 6/3/2026 11:27:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_Lease_RenewLeaseApplicationID] ON [dbo].[Lease]
(
	[RenewLeaseApplicationID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lease_TerminationID]    Script Date: 6/3/2026 11:27:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Lease_TerminationID] ON [dbo].[Lease]
(
	[TerminationID] ASC
)
WHERE ([TerminationID] IS NOT NULL)
WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeaseApplication_ParentLeaseID]    Script Date: 6/3/2026 11:27:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeaseApplication_ParentLeaseID] ON [dbo].[LeaseApplication]
(
	[ParentLeaseID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeaseApplicationLog_ApplicationID]    Script Date: 6/3/2026 11:27:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeaseApplicationLog_ApplicationID] ON [dbo].[LeaseApplicationLog]
(
	[ApplicationID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeaseApplicationLog_ChangedByUserID]    Script Date: 6/3/2026 11:27:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeaseApplicationLog_ChangedByUserID] ON [dbo].[LeaseApplicationLog]
(
	[ChangedByUserID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeaseLog_ChangedByUserID]    Script Date: 6/3/2026 11:27:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeaseLog_ChangedByUserID] ON [dbo].[LeaseLog]
(
	[ChangedByUserID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeaseLog_LeaseID]    Script Date: 6/3/2026 11:27:03 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeaseLog_LeaseID] ON [dbo].[LeaseLog]
(
	[LeaseID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaintenanceStaff_UserID]    Script Date: 6/3/2026 11:27:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_MaintenanceStaff_UserID] ON [dbo].[MaintenanceStaff]
(
	[UserID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Document] ADD  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[Document] ADD  CONSTRAINT [DF_Document_Status]  DEFAULT ('Submitted') FOR [Status]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT ((1)) FOR [IsVisible]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Lease] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Lease] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LeaseApplication] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[LeaseApplication] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LeaseRefund] ADD  DEFAULT ((0)) FOR [MonthsConsumed]
GO
ALTER TABLE [dbo].[LeaseRefund] ADD  DEFAULT ((0)) FOR [MonthsRefunded]
GO
ALTER TABLE [dbo].[LeaseRefund] ADD  DEFAULT ((0)) FOR [TotalPaid]
GO
ALTER TABLE [dbo].[LeaseRefund] ADD  DEFAULT ((0)) FOR [OverdueDeducted]
GO
ALTER TABLE [dbo].[LeaseRefund] ADD  DEFAULT ((0)) FOR [RefundAmount]
GO
ALTER TABLE [dbo].[LeaseRefund] ADD  DEFAULT (getdate()) FOR [CancelledAt]
GO
ALTER TABLE [dbo].[Log] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MaintenanceRequest] ADD  DEFAULT ('Medium') FOR [Priority]
GO
ALTER TABLE [dbo].[MaintenanceRequest] ADD  DEFAULT ('Submitted') FOR [Status]
GO
ALTER TABLE [dbo].[MaintenanceRequest] ADD  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[MaintenanceRequestLog] ADD  CONSTRAINT [DF_MaintenanceRequestLog_PerformedAt]  DEFAULT (getdate()) FOR [PerformedAt]
GO
ALTER TABLE [dbo].[MaintenanceStatusHistory] ADD  DEFAULT (getdate()) FOR [ChangedAt]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ('Unread') FOR [Status]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PaymentRecord] ADD  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Property] ADD  DEFAULT ((0)) FOR [GracePeriodDays]
GO
ALTER TABLE [dbo].[Property] ADD  DEFAULT ((0.0)) FOR [LateFeePercent]
GO
ALTER TABLE [dbo].[PropertyImage] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Unit] ADD  DEFAULT ('Available') FOR [AvailabilityStatus]
GO
ALTER TABLE [dbo].[UnitImage] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('Tenant') FOR [Role]
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD  CONSTRAINT [FK_Document_Application] FOREIGN KEY([ApplicationID])
REFERENCES [dbo].[LeaseApplication] ([ApplicationID])
GO
ALTER TABLE [dbo].[Document] CHECK CONSTRAINT [FK_Document_Application]
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD  CONSTRAINT [FK_Document_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Document] CHECK CONSTRAINT [FK_Document_User]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Unit] FOREIGN KEY([UnitID])
REFERENCES [dbo].[Unit] ([UnitID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Unit]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_User]
GO
ALTER TABLE [dbo].[Lease]  WITH CHECK ADD  CONSTRAINT [FK_Lease_LeaseApplication] FOREIGN KEY([ApplicationID])
REFERENCES [dbo].[LeaseApplication] ([ApplicationID])
GO
ALTER TABLE [dbo].[Lease] CHECK CONSTRAINT [FK_Lease_LeaseApplication]
GO
ALTER TABLE [dbo].[Lease]  WITH CHECK ADD  CONSTRAINT [FK_Lease_RenewLeaseApplication] FOREIGN KEY([RenewLeaseApplicationID])
REFERENCES [dbo].[LeaseApplication] ([ApplicationID])
GO
ALTER TABLE [dbo].[Lease] CHECK CONSTRAINT [FK_Lease_RenewLeaseApplication]
GO
ALTER TABLE [dbo].[Lease]  WITH CHECK ADD  CONSTRAINT [FK_Lease_Termination] FOREIGN KEY([TerminationID])
REFERENCES [dbo].[Termination] ([TerminationId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Lease] CHECK CONSTRAINT [FK_Lease_Termination]
GO
ALTER TABLE [dbo].[LeaseApplication]  WITH CHECK ADD  CONSTRAINT [FK_LeaseApplication_ParentLease] FOREIGN KEY([ParentLeaseID])
REFERENCES [dbo].[Lease] ([LeaseID])
GO
ALTER TABLE [dbo].[LeaseApplication] CHECK CONSTRAINT [FK_LeaseApplication_ParentLease]
GO
ALTER TABLE [dbo].[LeaseApplication]  WITH CHECK ADD  CONSTRAINT [FK_LeaseApplication_Unit] FOREIGN KEY([UnitID])
REFERENCES [dbo].[Unit] ([UnitID])
GO
ALTER TABLE [dbo].[LeaseApplication] CHECK CONSTRAINT [FK_LeaseApplication_Unit]
GO
ALTER TABLE [dbo].[LeaseApplication]  WITH CHECK ADD  CONSTRAINT [FK_LeaseApplication_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[LeaseApplication] CHECK CONSTRAINT [FK_LeaseApplication_User]
GO
ALTER TABLE [dbo].[LeaseApplicationLog]  WITH CHECK ADD  CONSTRAINT [FK_LeaseApplicationLog_Application] FOREIGN KEY([ApplicationID])
REFERENCES [dbo].[LeaseApplication] ([ApplicationID])
GO
ALTER TABLE [dbo].[LeaseApplicationLog] CHECK CONSTRAINT [FK_LeaseApplicationLog_Application]
GO
ALTER TABLE [dbo].[LeaseApplicationLog]  WITH CHECK ADD  CONSTRAINT [FK_LeaseApplicationLog_User] FOREIGN KEY([ChangedByUserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[LeaseApplicationLog] CHECK CONSTRAINT [FK_LeaseApplicationLog_User]
GO
ALTER TABLE [dbo].[LeaseLog]  WITH CHECK ADD  CONSTRAINT [FK_LeaseLog_Lease] FOREIGN KEY([LeaseID])
REFERENCES [dbo].[Lease] ([LeaseID])
GO
ALTER TABLE [dbo].[LeaseLog] CHECK CONSTRAINT [FK_LeaseLog_Lease]
GO
ALTER TABLE [dbo].[LeaseLog]  WITH CHECK ADD  CONSTRAINT [FK_LeaseLog_User] FOREIGN KEY([ChangedByUserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[LeaseLog] CHECK CONSTRAINT [FK_LeaseLog_User]
GO
ALTER TABLE [dbo].[LeaseRefund]  WITH CHECK ADD  CONSTRAINT [FK_LeaseRefund_Lease] FOREIGN KEY([LeaseID])
REFERENCES [dbo].[Lease] ([LeaseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeaseRefund] CHECK CONSTRAINT [FK_LeaseRefund_Lease]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [FK_Log_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [FK_Log_User]
GO
ALTER TABLE [dbo].[MaintenanceRequest]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceRequest_Staff] FOREIGN KEY([AssignedStaffID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[MaintenanceRequest] CHECK CONSTRAINT [FK_MaintenanceRequest_Staff]
GO
ALTER TABLE [dbo].[MaintenanceRequest]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceRequest_Tenant] FOREIGN KEY([TenantUserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[MaintenanceRequest] CHECK CONSTRAINT [FK_MaintenanceRequest_Tenant]
GO
ALTER TABLE [dbo].[MaintenanceRequest]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceRequest_Unit] FOREIGN KEY([UnitID])
REFERENCES [dbo].[Unit] ([UnitID])
GO
ALTER TABLE [dbo].[MaintenanceRequest] CHECK CONSTRAINT [FK_MaintenanceRequest_Unit]
GO
ALTER TABLE [dbo].[MaintenanceRequestLog]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceRequestLog_Request] FOREIGN KEY([RequestID])
REFERENCES [dbo].[MaintenanceRequest] ([RequestID])
GO
ALTER TABLE [dbo].[MaintenanceRequestLog] CHECK CONSTRAINT [FK_MaintenanceRequestLog_Request]
GO
ALTER TABLE [dbo].[MaintenanceStaff]  WITH CHECK ADD  CONSTRAINT [FK_MaintenanceStaff_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[MaintenanceStaff] CHECK CONSTRAINT [FK_MaintenanceStaff_User]
GO
ALTER TABLE [dbo].[MaintenanceStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_StatusHistory_MaintenanceRequest] FOREIGN KEY([RequestID])
REFERENCES [dbo].[MaintenanceRequest] ([RequestID])
GO
ALTER TABLE [dbo].[MaintenanceStatusHistory] CHECK CONSTRAINT [FK_StatusHistory_MaintenanceRequest]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_User]
GO
ALTER TABLE [dbo].[PaymentRecord]  WITH CHECK ADD  CONSTRAINT [FK_PaymentRecord_Lease] FOREIGN KEY([LeaseID])
REFERENCES [dbo].[Lease] ([LeaseID])
GO
ALTER TABLE [dbo].[PaymentRecord] CHECK CONSTRAINT [FK_PaymentRecord_Lease]
GO
ALTER TABLE [dbo].[PropertyAmenities]  WITH CHECK ADD  CONSTRAINT [FK_PropertyAmenities_Amenity] FOREIGN KEY([AmenityID])
REFERENCES [dbo].[Amenity] ([AmenityID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyAmenities] CHECK CONSTRAINT [FK_PropertyAmenities_Amenity]
GO
ALTER TABLE [dbo].[PropertyAmenities]  WITH CHECK ADD  CONSTRAINT [FK_PropertyAmenities_Property] FOREIGN KEY([PropertyID])
REFERENCES [dbo].[Property] ([PropertyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyAmenities] CHECK CONSTRAINT [FK_PropertyAmenities_Property]
GO
ALTER TABLE [dbo].[PropertyImage]  WITH CHECK ADD  CONSTRAINT [FK_PropertyImage_Property] FOREIGN KEY([PropertyID])
REFERENCES [dbo].[Property] ([PropertyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyImage] CHECK CONSTRAINT [FK_PropertyImage_Property]
GO
ALTER TABLE [dbo].[Unit]  WITH CHECK ADD  CONSTRAINT [FK_Unit_Property] FOREIGN KEY([PropertyID])
REFERENCES [dbo].[Property] ([PropertyID])
GO
ALTER TABLE [dbo].[Unit] CHECK CONSTRAINT [FK_Unit_Property]
GO
ALTER TABLE [dbo].[UnitAmenities]  WITH CHECK ADD  CONSTRAINT [FK_UnitAmenities_Amenity] FOREIGN KEY([AmenityID])
REFERENCES [dbo].[Amenity] ([AmenityID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UnitAmenities] CHECK CONSTRAINT [FK_UnitAmenities_Amenity]
GO
ALTER TABLE [dbo].[UnitAmenities]  WITH CHECK ADD  CONSTRAINT [FK_UnitAmenities_Unit] FOREIGN KEY([UnitID])
REFERENCES [dbo].[Unit] ([UnitID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UnitAmenities] CHECK CONSTRAINT [FK_UnitAmenities_Unit]
GO
ALTER TABLE [dbo].[UnitImage]  WITH CHECK ADD  CONSTRAINT [FK_UnitImage_Unit] FOREIGN KEY([UnitID])
REFERENCES [dbo].[Unit] ([UnitID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UnitImage] CHECK CONSTRAINT [FK_UnitImage_Unit]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
